@media screen and (min-width: 801px) {
    .signup-form {
        width:40%
    }
}
@media screen and (max-width: 800px) {
    .signup-form {
        width:80%
    }
}
.signup-input::after {
    content: '*';
    color: #365247;
    font-weight: bold;
}