.card {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 20px;
    width:90%;
    box-shadow: rgba(0, 0, 0, 0.125) 5px 5px 10px 5px;
    margin: 20px;
}
.card-body {
    flex: 1 1 auto; 
    padding: 1.25rem;
}
.card-title {
    margin: 5px 30px;
    display: flex;
    flex-direction: row;
}
.info-display > ul {
    margin-bottom: 0.5rem;
    font-size: 15px;
}
.info-display > ul > span {
    font-size: 15px;
    font-weight: 400;
}
.save-button {
    background-color: transparent !important;
    border:none !important;
    color:black!important 
}
.save-button:hover {
    background-color: transparent!important;
    border:none !important;
    color:black!important;
    box-shadow: none !important;
}
.more-info-button {
    background-color: transparent !important;
    border: rgba(55,82,71,1) solid !important;
    color: black !important;
    box-shadow:none !important;
}
.more-info-button:hover {
    background-color: rgba(55,82,71,1) !important;
    border: transparent solid !important;
    color: white !important;
    box-shadow:none !important;
}
.contact-button {
    background-color: rgba(55,82,71,1) !important;
    border: transparent solid!important;
    color: white !important;
    box-shadow:none !important;
}
.contact-button:hover {
    background-color: transparent !important;
    border: rgba(55,82,71,1) solid !important;
    color: black !important;
    box-shadow:none !important;
}
@media screen and (min-width: 801px) {
    .card {
        min-width: 700px !important;
    }
    .card-text > .row {
        width: 45vw;
    }
}
@media screen and (max-width: 800px) {
    .card {
        min-width: 60vw !important;
    }
}